:root{
    --bg-color:#f5f5f5;
    --text-color:#070707;
    --accent-color:#00bc4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui;
    background-color: var(--bg-color);
    color: var(--text-color);
    
    display: flex;
    flex-direction: column;

    align-items: center;
    min-height: 100vh;
}

.titulo{
    font-size: 60px;
    margin-bottom: 20px;
}

.marco_busqueda{
    padding: 15px;
}

.busqueda{
    padding: 10px;
}

.btn_buscar{
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color:#c0b0b0
}

table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
}

td{
    padding: 12px;
    border: 1px solid #ccc;
}

th{
    padding: 12px;
    border: 1px solid #ccc;
    background-color: #7c5c5c;
    color: #ffffff;
}

tbody tr:hover {
    background-color: #e0e0e0;
    cursor: default;
}

